@use "variables" as vars;

.swiperbox__pagination {
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 5px 10px;
    font-size: vars.$pageNumberFontSize;
    color: vars.$pageNumberColor;
}
