// Container
$containerBackgroundColor: rgba(0, 0, 0, 0.7);
$containerBackdropFilter: blur(7px);

// Page number
$pageNumberColor: #ddd;
$pageNumberFontSize: 1.2rem;

// Buttons
$buttonColor: #ddd;

// Thumbnails
$thumbnailBorderWidth: 3px;
$thumbnailBorderColor: #ddd;
